body {
  font-family: 'Lato', sans-serif;
  margin: 0%;

}


a {
  text-decoration: none;
  color: #262626;
  margin-right: 25px;
}


header {
  display: flex;
  height: 70px;
  background-color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}



.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover {
  color: #F29407;
}

#hero {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 80vh;
  background-image: url("images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.mensaje {
  width: 100%;
  height: 683px;
  background: url("../images/v273_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.fondo-mensaje {
  width: 100%;
  height: 683px;
  background: rgba(229, 231, 235, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.texto-mensaje {
  width: 800px;
  color: rgba(38, 38, 38, 1);
  position: absolute;
  top: 218px;
  left: 850px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.titulo-mensaje {
  width: 394px;
  color: rgba(38, 38, 38, 1);
  position: absolute;
  top: 113px;
  left: 850px;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.fondo-imagen {
  width: 380px;
  height: 280px;
  background: url("images/fondo-imagen.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 315px;
  left: 60px;
  overflow: hidden;
}

.foto-director {
  width: 617px;
  height: 402px;
  background: url("images/foto-director.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 89px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}

.linea-superior {
  width: 197px;
  background: url("../images/v275_13.png");
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 854px;
  border: 4px solid rgba(242, 148, 7, 1);
}

.reseña-historica {
  width: 100%;
  height: 416px;
  background: url("../images/v201_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.fondo-reseña {
  width: 100%;
  height: 416px;
  background: rgba(30, 64, 62, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.titulo-reseña {
  width: 308px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 62px;
  left: 201px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.texto-reseña {
  width: 400px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 164px;
  left: 203px;
  font-family: Lato;
  font-weight: Regular;
  opacity: 1;
  text-align: justified;
}

.fondo-imagen-uno {
  width: 600px;
  height: 258px;
  background: url("images/fondo-imagen.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 1041px;
  overflow: hidden;
}

.imagen-reseña {
  width: 777px;
  height: 318px;
  background: url("images/imagen-reseña.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 811px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}

.linea-superior-uno {
  width: 197px;
  background: url("../images/v277_16.png");
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 200px;
  border: 4px solid rgba(242, 148, 7, 1);
}

.mision-vision {
  width: 100%;
  height: 348px;
  background: url("../images/v201_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.fondo-mision-vision {
  width: 100%;
  height: 298px;
  background: rgba(241, 140, 119, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.imagen-vision {
  width: 92px;
  height: 86px;
  background: url("images/imagen-vision.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 1388px;
  overflow: hidden;
}

.texto-vision {
  width: 700px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 119px;
  left: 990px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: justified;
}

.titulo-vision {
  width: 139px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 46px;
  left: 1041px;
  font-family: Lato;
  font-weight: ExtraBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.linea-superior-dos {
  width: 180px;
  background: url("../images/v292_63.png");
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 1035px;
  border: 4px solid rgba(242, 148, 7, 1);
}

.imagen-mision {
  width: 70px;
  height: 70px;
  background: url("images/imagen-mision.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 557px;
  overflow: hidden;
}

.texto-mision {
  width: 700px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 132px;
  left: 173px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: justified;
}

.titulo-mision {
  width: 149px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 46px;
  left: 250px;
  font-family: Lato;
  font-weight: ExtraBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.linea-superior-tres {
  width: 180px;
  background: url("../images/v292_62.png");
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 250px;
  border: 4px solid rgba(242, 148, 7, 1);
}


.docente-organigrama {
  width: 100%;
  height: 854px;
  background: url("../images/v201_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.fondo-plana-organigrama {
  width: 100%;
  height: 854px;
  background: rgba(255, 253, 253, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.linea-superior-cuatro {
  width: 323px;
  background: url("../images/v289_56.png");
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 597px;
  border: 4px solid rgba(242, 148, 7, 1);
}

.texto-plana-docente {
  width: 364px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 737px;
  left: 1058px;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.imagen-docentes {
  width: 366px;
  height: 240px;
  background: url("images/imagen-docentes.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 1040px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.texto-subdirector {
  width: 202px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 750px;
  left: 627px;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.imagen-subdirector {
  width: 330px;
  height: 240px;
  background: url("images/imagen-subdirector.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 570px;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  overflow: hidden;
}

.texto-director {
  width: 229px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 750px;
  left: 161px;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.imagen-director {
  width: 300px;
  height: 240px;
  background: url("images/imagen-director.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 130px;
  border-top-left-radius: 47px;
  border-top-right-radius: 47px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  overflow: hidden;
}

.linea-superior-cinco {
  width: 580px;
  background: url("../images/v279_36.png");
  opacity: 1;
  position: absolute;
  top: 370px;
  left: 30px;
  border: 4px solid rgba(242, 148, 7, 1);
}

.titulo-directivo {
  width: 500px;
  color: rgba(38, 38, 38, 1);
  position: absolute;
  top: 380px;
  left: 50px;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.fondo-secretaria {
  width: 150px;
  height: 40px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 960px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}

.texto-secretaria {
  width: 88px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 286px;
  left: 996px;
  font-family: Lato;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.fondo-apafa {
  width: 150px;
  height: 40px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 434px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}

.texto-apafa {
  width: 63px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 288px;
  left: 469px;
  font-family: Lato;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}


.fondo-subdirector {
  width: 150px;
  height: 40px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 683px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}

.texto-subdirector-uno {
  width: 103px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 216px;
  left: 706px;
  font-family: Lato;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.fondo-dos {
  color: #fff;
}

.fondo-director {
  width: 150px;
  height: 40px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 680px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}

.texto-director-uno {
  width: 73px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 95px;
  left: 718px;
  font-family: Lato;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.titulo-organigrama {
  width: 333px;
  color: rgba(38, 38, 38, 1);
  position: absolute;
  top: 12px;
  left: 620px;
  font-family: Lato;
  font-weight: ExtraBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}


.calendario-actividades {
  width: 100%;
  height: 646px;
  background: url("../images/v201_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.imagen-fondo {
  width: 100%;
  height: 646px;
  background: url("images/imagen-fondo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.titulo-calendario {
  width: 751px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 46px;
  left: 102px;
  font-family: Lato;
  font-weight: ExtraBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.texto-uno {
  width: 307px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 409px;
  left: 111px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: justified;
}

.texto-tres {
  width: 307px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 396px;
  left: 1083px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: justified;
}

.texto-dos {
  width: 307px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 126px;
  left: 609px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: justified;
}

.imagen-tres {
  width: 300px;
  height: 160px;
  background: url("images/imagen-tres.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 1083px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.imagen-uno {
  width: 300px;
  height: 160px;
  background: url("images/imagen-uno.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 114px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.imagen-dos {
  width: 313px;
  height: 205px;
  background: url("images/imagen-dos.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 329px;
  left: 600px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.linea-superior-seis {
  width: 696px;
  background: url("../images/v279_33.png");
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 93px;
  border: 4px solid rgba(242, 148, 7, 1);
}

.galeria {
  width: 100%;
  height: 530px;
  background: url("../images/v277_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.fondo-galeria {
  width: 100%;
  height: 530px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.galeria-imagen-tres {
  width: 396px;
  height: 283px;
  background: url("images/galeria-imagen-tres.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 976px;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  overflow: hidden;
}
.galeria-imagen-dos {
  width: 330px;
  height: 283px;
  background: url("images/galeria-imagen-dos.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 596px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.galeria-imagen-uno {
  width: 352px;
  height: 283px;
  background: url("images/galeria-imagen-uno.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 199px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  overflow: hidden;
}
.galeria-titulo {
  width: 215px;
  color: rgba(38,38,38,1);
  position: absolute;
  top: 28px;
  left: 124px;
  font-family: Lato;
  font-weight: ExtraBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.linea-superior-siete {
  width: 155px;
  background: url("../images/v277_20.png");
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 118px;
  border: 4px solid rgba(242,148,7,1);
}



.boton-derecha {
  width: 223px;
  height: 217px;
  background: url("images/boton-derecha.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 222px;
  left: 1333px;
  overflow: hidden;
}

.boton-izquierda {
  width: 223px;
  height: 217px;
  background: url("images/boton-izquierda.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 9px;
  overflow: hidden;
}

.documentos-gestion {
  width: 100%;
  height: 339px;
  background: url("../images/v294_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.fondo-documentos {
  width: 100%;
  height: 339px;
  background: rgba(235, 235, 235, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.fondito1 {
  width: 215px;
  height: 53px;
  background: rgba(255, 253, 253, 1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 38px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}

.texto-ideario {
  width: 182px;
  color: rgba(38, 38, 38, 1);
  position: absolute;
  top: 265px;
  left: 50px;
  font-family: Lato;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.imagen-horario {
  width: 128px;
  height: 95px;
  background: url("images/imagen-horario.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 1405px;
  overflow: hidden;
}

.fondito2 {
  width: 574px;
  height: 200px;
  background: rgba(255, 253, 253, 1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 803px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}

.titulo-horario {
  width: 238px;
  color: rgba(38, 38, 38, 1);
  position: absolute;
  top: 40px;
  left: 865px;
  font-family: Lato;
  font-weight: ExtraBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.linea-superior-ocho {
  width: 221px;
  background: url("../images/v295_81.png");
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 865px;
  border: 4px solid rgba(242, 148, 7, 1);
}

.imagen-carpeta {
  width: 69px;
  height: 70px;
  background: url("images/imagen-carpeta.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 638px;
  overflow: hidden;
}

.fondito3 {
  width: 195px;
  height: 45px;
  background: rgba(255, 253, 253, 1);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 423px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}

.texto-reglamento {
  width: 174px;
  color: rgba(38, 38, 38, 1);
  position: absolute;
  top: 191px;
  left: 433px;
  font-family: Lato;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.fondito4 {
  width: 160px;
  height: 45px;
  background: rgba(255, 253, 253, 1);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 233px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}

.texto-pat {
  width: 36px;
  color: rgba(38, 38, 38, 1);
  position: absolute;
  top: 191px;
  left: 298px;
  font-family: Lato;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.fondito5 {
  width: 160px;
  height: 45px;
  background: rgba(255, 253, 253, 1);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 38px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}

.texto-pei {
  width: 30px;
  color: rgba(38, 38, 38, 1);
  position: absolute;
  top: 191px;
  left: 94px;
  font-family: Lato;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.titulo-documentos {
  width: 460px;
  color: rgba(38, 38, 38, 1);
  position: absolute;
  top: 40px;
  left: 33px;
  font-family: Lato;
  font-weight: ExtraBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.linea-superior-nueve {
  width: 415px;
  background: url("../images/v295_80.png");
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 38px;
  border: 4px solid rgba(242, 148, 7, 1);
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}


input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #3e5fc0;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}


textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #3e5fc0;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}


label {
  display: block;
  float: center;
}


button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #3e5fc0;
  border-color: #3e5fc0;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}


button p {
  color: #fff;
}


span {
  color: #3e5fc0;
}


.aviso {
  font-size: 13px;
  color: #0e0e0e;
}


h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: rgba(38, 38, 38, 1);
}


h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}


p {
  font-size: 14px;
  color: #0e0e0e;
}


::-webkit-input-placeholder {
  color: #a8a8a8;
}


::-webkit-textarea-placeholder {
  color: #a8a8a8;
}


.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}


.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}


#juego {
	opacity: 0.3;
	width: 600px;
	height: 600px;
}

table {
	width: 100%;
	height: 100%;
}

td {
	width: 25%;
	height: 25%;
	background-color: black;
	border: 3px solid black;
	border-radius: 5px;
}

.letra {
	color: white;
	font-size: 40px;
	text-align: center;
	font-style: italic;
}

input {
	width: 90px;
	height: 30px;
}

.centrar {
	margin-left: 210px;
}



.barra-final {
  width: 100%;
  height: 319px;
  background: url("../images/v201_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.fondo-final {
  width: 100%;
  height: 319px;
  background: rgba(96, 96, 96, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.derechos-reservados {
  width: 402px;
  color: rgba(244, 244, 244, 1);
  position: absolute;
  top: 270px;
  left: 58px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.imagen-whatsapp {
  width: 48px;
  height: 50px;
  background: url("images/imagen-whatsapp.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 1362px;
  overflow: hidden;
}

.imagen-facebook {
  width: 73px;
  height: 55px;
  background: url("images/imagen-facebook.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 201px;
  left: 1350px;
  overflow: hidden;
}





.correo-redes {
  width: 192px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 54px;
  left: 1250px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.informes {
  width: 125px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 54px;
  left: 870px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.direccion {
  width: 218px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 54px;
  left: 512px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.google-maps {
  width: 350px;
  height: 170px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 40px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}